@using HealthySnacks.Models
@model List<HealthySnacksModel>

@{
   
}

    <div>
        <h2>Healthy Snacks page</h2>
    </div>


@{
    foreach (var HealthySnacks in Model)
    {
    <div>
        <h4>Name: @HealthySnacks.Name</h4>
        <img src="@HealthySnacks.ImageUrl" />
        <p>@HealthySnacks.Description</p>
        <p>Price: @HealthySnacks.Price dollars</p>
        <p>Ingredients: @HealthySnacks.Ingredients</p>

    </div>
    }

}
